<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h1>Strona logowania</h1>

<form method="post" th:action="@{/login}">
    <div>
        <label>Nazwa użytkownika:</label>
        <input type="text" name="username" required/>
    </div>
    <div>
        <label>Hasło:</label>
        <input type="password" name="password" required/>
    </div>
    <div>
        <button type="submit">Zaloguj się</button>
    </div>
</form>

</body>
</html>